.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    background: #f0f8ff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-input::placeholder{
    color: black;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input {
    width: 100%;
    padding-right: 50px;
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
}

.toggle-password-btn:hover {
    color: #0056b3;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-btn:hover {
    background: #0056b3;
}

