.elements-container {
    padding: 20px;
}

.elements-inside-card {
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: linear-gradient(135deg, #2a2d34, #3a3f47);
    color: white;
    max-width: 350px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.elements-inside-card p {
    padding: 7px;
}

.elements-inside-card:hover {
    transform: scale(1.05);
}

.img-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.img-symbol img {
    width: 40px;
    height: 40px;
}

.hide-mobile {
    display: block;
}

/* Responsive */
@media (max-width: 900px) {
    .elements-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .elements-container {
        grid-template-columns: 1fr;
    }

    .hide-mobile {
        display: none;
    }
}
